html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
/* body{
    text-align: center;
} */

* {
    box-sizing: border-box;
    /* text-align: left; */
}

.slider {
    width: 50%;
    margin: 100px auto;
}

/* .slick-slide {
    margin: 0px 20px;
} */

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}
/* 
.slick-list{
    height: 39vh !important;
    padding: 0 !important
} */

.wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ol {
    background: #cecece;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

h2 {
    text-align: center
}

.block_zal {
    flex: 1 0 50%;
    height: 50vh;
    overflow: hidden;
}

td,
tr,
table {
    border: 1px solid #000;
}

table {
    width: 100%
}

li {
    list-style-type: none;
}

#time,
#date {
    position: fixed;
    left:0;
    right: 0;
    margin: auto;
    text-align: center;
}

#date {
    top: 20px
}

table {
    table-layout: fixed;
}

select {
    width: 100%;
    border: none;
    background: transparent;
}

td:nth-child(1) {
    width: 6%;
}

td:nth-child(2) {
    width: 4%;
}

td:nth-child(3) {
    width: 8%;
}

td:nth-child(4) {
    width: 25%;
}

td:nth-child(5) {
    width: 11%;
}

td:nth-child(6) {
    width: 10%;
}

td:nth-child(7) {
    width: 12%;
}

/* td:nth-child(8) {
    width: 11%;
}

td:nth-child(9) {
    width: 11%;
} */

#error {
    position: fixed;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background: #eb9494dc;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 50vw;
    max-height: 50vh;
    z-index: 5;
    border-radius: 5px;
    border: 1px solid #ff0000;
    text-align: center;
    font-size: 25px;
    color: #ff0000
}

.dnone {
    display: none;
}

.dfl {
    display: flex;
}

.dbl {
    display: block;
}